# MYSQL
# MYSQL_ALLOW_EMPTY_PASSWORD=true
MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_DATABASE=stilio
MYSQL_USER=stilio
MYSQL_PASSWORD=!!!SET MYSQL_PASSWORD!!!
MYSQL_ROOT_PASSWORD=!!!SET MYSQL_ROOT_PASSWORD!!!